server:
  port: 8086

spring:
  thymeleaf:
    prefix: classpath:/static/
    suffix: .html
  # redis配置
  redis:
    #redis数据库索引（默认为0）
    database: 0
    host: 139.196.94.253
    port: 6379
    password: 123
    jedis:
      pool:
        #连接池最大连接数（使用负值表示没有限制）
        max-active: 8
        #连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1
        #连接池中的最大空闲连接
        max-idle: 5
        #连接池中的最小空闲连接
        min-idle: 0
    # redis超时时间（毫秒），如果不设置，取默认值2000
    timeout: 10000

  #MySQL配置信息
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver #新的驱动类，是自动加载的，可以省略手动加载驱动类
    url: jdbc:mysql://139.196.94.253:3306/jpa?useUnicode=true&characterEncoding=utf8
    username: root
    password: 123

  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true  # 打印执行的SQL语句
    database-platform: org.hibernate.dialect.MySQL5Dialect #配置mysql方言
    database: mysql

